@import "compass/reset"
@import "_vars"

body
  background: $base
  text-align: center
  font-family: $font
  overflow-x: none
.top
  width: 100%
  height: 45px
  background: $main
  display: block
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  .listbutton
    float: left
    width: 34px
    height: 34px
    line-height: 34px
    margin-top: 7.5px
    display: none
    color: $base
    position: relative
    margin-left: 15px
    &:hover
      cursor: pointer
      &::before
        +transition($s)
        color: $lightblue
    &::before
      +transition($s)
      position: absolute
      left: 0
      color: $base
      content: "\f0c9"
      font:
        family: "FontAwesome"
        size: 25px
  .account
    width: auto
    min-width: 250px
    float: right
    height: 45px
    color: $base
    text-align: center
    +transition($s)
    &:hover
      +transition($s)
      cursor: pointer
      color: $lightblue
      background: $clear
      menu::before
        color: $lightblue
        +transition($s)
      menu li
        display: block
    .name
      line-height: 45px
      margin-right: 40px
      margin-left: 40px
      position: relative
    menu
      width: 100%
      display: inline-block
      &:hover
        cursor: pointer
      &::before
        +transition($s)
        height: 45px
        line-height: 40px
        top: 0
        color: $base
        position: absolute
        right: 20px
        z-index: 20
        content: "\f0dd"
        font:
          family: "FontAwesome"
          size: 20px
      a
        text-decoration: none
      li
        list-style: none
        display: none
        background: $main
        color: $base
        text-decoration: none
        height: 35px
        padding: 0 40px
        line-height: 35px
        position: relative
        text-align: center
        i
          float: left
          line-height: 38px
          position: absolute
          left: 35px
        &:hover
          color: $lightblue
  button
    border: 2px solid $base
    background: $base
    color: $main
    height: 30px
    padding: 0 15px
    margin-top: 7.5px
    float: left
    margin-left: 200px
    font:
      size: 15px
      weight: 900
      family: $font
    border-radius: 50px
    +transition($s)
    &:hover
      +transition($s)
      background: none
      color: $base
      cursor: pointer
    &:active, &:focus
      outline: none

.left
  position: fixed
  height: 100vh
  width: 180px
  background: $main
  box-shadow: 0px 0px 22px -5px black
  z-index: 130
  top: 0
  left: 0
  &.active
    transform: translateX(0)
    +transition($s)
  img
    width: 100px
    margin-top: 55px
  ul
    margin-top: 75px
    color: $base
    text-align: left
    list-style: none
  a
    color: $base
    text-decoration: none
    &.active,&:hover
      li
        cursor: pointer
        background: $clear
        color: $lightblue
        +transition($s)
  li
    font:
      family: $font
      size: 20px
      weight: 100
    width: 100%
    height: 50px
    line-height: 50px
    box-sizing: border-box
    +transition($s)
    &:hover, &.active
      cursor: pointer
      background: $clear
      color: $lightblue
      +transition($s)
    i
      padding-right: 10px
      margin-left: 10px
  .bottom
    width: 180px
    height: 35px
    position: fixed
    bottom: 0
    left: 0
    color: $base
    line-height: 35px
    .settings,.logout
      color: $base
      font-size: 20px
      float: right
      display: inline-block
      line-height: 30px
      margin-right: 10px
      +transition($s)
      i
        font-size: 30px
        padding-left: 10px
      &:hover
        +transition($s)
        color: $lightblue
    .logout
      float: left
      display: none
em,i,cite
  font-style: italic
strong,b
  font-weight: 900

.switch
  position: relative
  display: inline-block
  width: 60px
  height: 34px
  input[type="checkbox"].switcher
    display: none
.tabs
  width: 100%
  display: inline-block
  text-align: center
  background: black
  color: white
  .tab
    width: auto
    padding: 15px 25px
    float: left
    font-weight: 500
    font-size: 20px
    user-select: none
    box-sizing: border-box
    &.active
      background: $clear
      color: $lightblue
      border-top: 2px solid $lightblue
      padding-top: 13px
    &:hover,&:active
      cursor: pointer
      background: $clear
      color: $lightblue
      +transition($s)
.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s
  border-radius: 34px
  &:before
    position: absolute
    content: ""
    height: 26px
    width: 26px
    left: 4px
    bottom: 4px
    background-color: white
    -webkit-transition: .4s
    transition: .4s
    border-radius: 50%

input[type="checkbox"].switcher
  &:checked + .slider
    background-color: green
  &:focus + .slider
    box-shadow: 0 0 1px green
  &:checked + .slider:before
    -webkit-transform: translateX(26px)
    -ms-transform: translateX(26px)
    transform: translateX(26px)
@media only screen and ( max-width: 760px )
  .left
    box-shadow: none
    ul
      margin-top: 45px