$base: #f1f1f1
$black: #000c0c
$white: white
$main: #000c0c

$gray: #ccc
$blue: #10446d
$lightblue: #2196F3
$red: #801010
$clear: #151e23
$font: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif

$s : .3s

$defaultShadow: 0px 0px 30px -1px rgba(0,0,0, 0.3)

@font-face
  font-family: FontAwesome
  src: url(../fonts/FontAwesome.otf)  

@import "base/mixins"