$base: #f1f1f1
$main: #000c0c

$blue: #003258
$lightblue: #2196F3
$red: #801010
$clear: #151e23
$font: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif

$s : .3s

@font-face
  font-family: FontAwesome
  src: url(../fonts/FontAwesome.otf)  

=transition($s)
  transition: $s
  -webkit-transition: $s