@charset "UTF-8";
@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf); }
body {
  background: #f1f1f1;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  overflow-x: none;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, menu {
  padding: 0;
  margin: 0; }

iframe, image {
  border: none; }

hr {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }
  h1.align-left, h2.align-left, h3.align-left, h4.align-left, h5.align-left, h6.align-left {
    text-align: left !important; }
  h1.align-center, h2.align-center, h3.align-center, h4.align-center, h5.align-center, h6.align-center {
    text-align: center !important; }

section.hidden {
  display: none; }

label {
  display: block;
  text-align: left;
  color: #f1f1f1;
  font-size: 0.9em; }

.spinner {
  font-size: 10px;
  margin: 100px auto;
  text-indent: -9999em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000c0c;
  background: -moz-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  -moz-animation: load3 1.4s infinite linear;
  -o-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }
  .spinner:before {
    width: 50%;
    height: 50%;
    background: #000c0c;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: ""; }
  .spinner:after {
    background: #f1f1f1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0; }

.top {
  width: 100%;
  height: 45px;
  background: #000c0c;
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0; }
  .top .listbutton {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-top: 7.5px;
    display: none;
    color: #f1f1f1;
    position: relative;
    margin-left: 15px; }
    .top .listbutton:hover {
      cursor: pointer; }
      .top .listbutton:hover::before {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        color: #2196F3; }
    .top .listbutton::before {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      position: absolute;
      left: 0;
      color: #f1f1f1;
      content: "";
      font-family: "FontAwesome";
      font-size: 25px; }
  .top .account {
    width: auto;
    min-width: 250px;
    float: right;
    height: 45px;
    color: #f1f1f1;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    .top .account:hover {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      cursor: pointer;
      color: #2196F3;
      background: #151e23; }
      .top .account:hover menu::before {
        color: #2196F3;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
      .top .account:hover menu li {
        display: block; }
    .top .account .name {
      line-height: 45px;
      margin-right: 40px;
      margin-left: 40px;
      position: relative; }
    .top .account menu {
      width: 100%;
      display: inline-block; }
      .top .account menu:hover {
        cursor: pointer; }
      .top .account menu::before {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        height: 45px;
        line-height: 40px;
        top: 0;
        color: #f1f1f1;
        position: absolute;
        right: 20px;
        z-index: 20;
        content: "";
        font-family: "FontAwesome";
        font-size: 20px; }
      .top .account menu a {
        text-decoration: none; }
      .top .account menu li {
        list-style: none;
        display: none;
        background: #000c0c;
        color: #f1f1f1;
        text-decoration: none;
        height: 35px;
        padding: 0 40px;
        line-height: 35px;
        position: relative;
        text-align: center; }
        .top .account menu li i {
          float: left;
          line-height: 38px;
          position: absolute;
          left: 35px; }
        .top .account menu li:hover {
          color: #2196F3; }
  .top button {
    border: 2px solid #f1f1f1;
    background: #f1f1f1;
    color: #000c0c;
    height: 28px;
    padding: 0 15px;
    margin-top: 8px;
    float: left;
    margin-left: 200px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    border-radius: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    .top button:hover {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      background: none;
      color: #f1f1f1;
      cursor: pointer; }
    .top button:active, .top button:focus {
      outline: none; }

button, .button {
  border: none;
  border-radius: 4px;
  background: #2196F3;
  border: 2px solid #2196F3;
  color: white;
  padding: 10px 25px;
  line-height: 1;
  font-size: 14px;
  font-weight: 600; }
  button:focus, .button:focus {
    outline: none; }
  button:hover, .button:hover {
    cursor: pointer;
    color: #000c0c;
    background: none;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
  button.add, .button.add {
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: absolute;
    right: 0;
    top: -38px;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    button.add.tabs-above, .button.add.tabs-above {
      top: -88px; }
  button.black, .button.black {
    background: #000c0c;
    border-color: #000c0c; }
    button.black:hover, .button.black:hover {
      background: none;
      color: #000c0c; }

.select-box {
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 1em;
  margin-top: 0.3em;
  background: #f1f1f1; }
  .select-box.dark select {
    background-color: #000c0c;
    color: #f1f1f1; }
  .select-box select {
    max-width: 100%;
    background-color: #f1f1f1;
    color: #000c0c;
    font-size: inherit;
    padding: 0.33em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: "";
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .select-box select::-ms-expand {
      display: none; }
    .select-box select:active, .select-box select:focus {
      outline: none; }
  .select-box::before {
    content: "";
    position: absolute;
    pointer-events: none; }
  .select-box::after {
    content: "";
    position: absolute;
    pointer-events: none;
    content: "▼";
    color: #2196F3;
    height: 1em;
    font-size: 0.625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -0.5em; }
  .select-box::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000c0c; }
  .select-box select[disabled] {
    color: rgba(0, 0, 0, 0.25); }

.left {
  position: fixed;
  height: 100vh;
  width: 180px;
  background: #000c0c;
  box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.5);
  z-index: 130;
  top: 0;
  left: 0; }
  .left.active {
    transform: translateX(0);
    transition: 0.3s;
    -webkit-transition: 0.3s; }
  .left img {
    width: 100px;
    margin: 35px auto 0;
    display: block; }
  .left ul {
    margin-top: 35px;
    color: #f1f1f1;
    text-align: left;
    list-style: none;
    position: relative; }
    .left ul a {
      color: #f1f1f1;
      text-decoration: none;
      display: inline-block;
      width: 100%; }
      .left ul a.active, .left ul a:hover {
        color: #2196F3; }
        .left ul a.active li, .left ul a:hover li {
          cursor: pointer;
          background: #151e23;
          color: #2196F3;
          transition: 0.3s;
          -webkit-transition: 0.3s; }
    .left ul li {
      font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
      font-size: 17px;
      font-weight: 100;
      width: 100%;
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      position: relative;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .left ul li:hover, .left ul li.active {
        cursor: pointer;
        background: #151e23;
        color: #2196F3;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
        .left ul li:hover ul, .left ul li.active ul {
          display: block; }
      .left ul li ul {
        position: absolute;
        width: 180px;
        left: 180px;
        top: 0;
        margin: 0;
        background: #000c0c;
        box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.3);
        z-index: 130;
        display: none; }
        .left ul li ul li {
          padding-left: 15px; }
      .left ul li i {
        padding: 0 15px; }
  .left .bottom {
    width: 180px;
    height: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #f1f1f1;
    line-height: 35px; }
    .left .bottom .settings, .left .bottom .logout {
      color: #f1f1f1;
      font-size: 20px;
      float: right;
      display: inline-block;
      line-height: 30px;
      margin-right: 10px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .left .bottom .settings i, .left .bottom .logout i {
        font-size: 30px;
        padding-left: 10px; }
      .left .bottom .settings:hover, .left .bottom .logout:hover {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        color: #2196F3; }
    .left .bottom .logout {
      float: left;
      display: none; }

em, i, cite {
  font-style: italic; }

strong, b {
  font-weight: bold; }

.relative {
  position: relative; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px !important;
  height: 34px !important; }
  .switch input[type="checkbox"].switcher {
    display: none; }

.tabs {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #000c0c;
  color: white; }
  .tabs.center .tab {
    float: none;
    display: inline-block; }
  .tabs .tab {
    width: auto;
    padding: 15px 25px;
    float: left;
    font-weight: 500;
    font-size: 17px;
    user-select: none;
    box-sizing: border-box;
    position: relative; }
    .tabs .tab.add::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      text-align: center;
      line-height: 50px;
      color: #2196F3;
      font-family: FontAwesome;
      font-size: 20px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
    .tabs .tab.active {
      background: #151e23;
      color: #2196F3;
      border-top: 2px solid #2196F3;
      padding-top: 13px; }
    .tabs .tab:hover, .tabs .tab:active {
      cursor: pointer;
      background: #151e23;
      color: #2196F3;
      transition: 0.3s;
      -webkit-transition: 0.3s; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px; }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%; }

@media only screen and (max-width: 760px) {
  .left {
    box-shadow: none; }
    .left ul {
      margin-top: 45px; } }
@media print {
  button {
    display: none; } }
#text_edit_buttons, #text_editor, #image_edit_buttons, #image_editor, #line_editor, #line_edit_buttons {
  display: none; }

.main-wrapper {
  text-align: center; }

.main {
  width: calc(100% - 180px);
  margin-left: 180px;
  margin-top: 45px;
  display: inline-block;
  position: relative;
  text-align: center; }
  .main.no-top {
    margin-top: 0;
    margin-left: 0; }
  .main.container {
    width: 1034px; }
    .main.container > * {
      vertical-align: top; }
  .main.dashboard, .main.settings, .main.window {
    width: 1034px; }
    .main.dashboard .flex, .main.settings .flex, .main.window .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start; }
    .main.dashboard section, .main.settings section, .main.window section {
      flex: 0 0 49%;
      display: inline-block;
      box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.3);
      padding: 5px 0;
      text-align: center;
      background: #000c0c;
      color: #f1f1f1; }
      .main.dashboard section.transparent, .main.settings section.transparent, .main.window section.transparent {
        background: none;
        color: #000c0c;
        box-shadow: none;
        margin: 0;
        width: 100%;
        text-align: left; }
        .main.dashboard section.transparent h1, .main.settings section.transparent h1, .main.window section.transparent h1 {
          text-align: left; }
      .main.dashboard section.hidden, .main.settings section.hidden, .main.window section.hidden {
        display: none; }
      .main.dashboard section.full, .main.settings section.full, .main.window section.full {
        flex: 0 0 100%;
        margin: 15px 0;
        display: block; }
        .main.dashboard section.full.first, .main.settings section.full.first, .main.window section.full.first {
          margin-top: 0; }
      .main.dashboard section.more, .main.settings section.more, .main.window section.more {
        margin: 50px 0 15px; }
      .main.dashboard section.overview h2, .main.settings section.overview h2, .main.window section.overview h2 {
        margin: 15px 0;
        font-size: 25px;
        padding: 0 35px;
        text-align: center; }
      .main.dashboard section h1, .main.settings section h1, .main.window section h1 {
        font-size: 30px;
        font-weight: 500;
        padding: 15px 0;
        text-align: center; }
      .main.dashboard section h2, .main.settings section h2, .main.window section h2 {
        text-align: center;
        margin-bottom: 15px; }
    .main.dashboard h1, .main.settings h1, .main.window h1 {
      padding: 25px 0;
      font-size: 2.5em;
      font-weight: 100; }
    .main.dashboard h2, .main.settings h2, .main.window h2 {
      font-size: 45px;
      padding: 25px 0;
      font-weight: 100; }
    .main.dashboard h3, .main.settings h3, .main.window h3 {
      padding: 25px 0;
      font-size: 20px; }
    .main.dashboard .hub, .main.settings .hub, .main.window .hub {
      background: #000c0c;
      color: #f1f1f1; }
      .main.dashboard .hub h1, .main.settings .hub h1, .main.window .hub h1 {
        font-size: 35px;
        font-weight: 500; }
      .main.dashboard .hub h2, .main.settings .hub h2, .main.window .hub h2 {
        font-size: 20px;
        padding: 15px 0; }
    .main.dashboard .status, .main.settings .status, .main.window .status {
      width: 300px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      border-radius: 50px;
      font-weight: bold;
      margin-bottom: 15px; }
      .main.dashboard .status.online, .main.settings .status.online, .main.window .status.online {
        background: green;
        color: #f1f1f1; }
      .main.dashboard .status.offline, .main.settings .status.offline, .main.window .status.offline {
        background: red;
        color: #000c0c; }
    .main.dashboard .live, .main.settings .live, .main.window .live {
      height: 50px;
      line-height: 50px;
      display: inline-block;
      position: relative;
      margin-bottom: 0.67em; }
      .main.dashboard .live > *, .main.settings .live > *, .main.window .live > * {
        vertical-align: top; }
      .main.dashboard .live .label, .main.settings .live .label, .main.window .live .label {
        display: inline-block; }
      .main.dashboard .live .switch, .main.settings .live .switch, .main.window .live .switch {
        display: inline-block;
        margin-top: 8px;
        margin-left: 8px; }
    .main.dashboard .thankyou, .main.settings .thankyou, .main.window .thankyou {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: left;
      font-style: italic; }
      .main.dashboard .thankyou b, .main.settings .thankyou b, .main.window .thankyou b {
        font-weight: bold; }
  .main .editor_text, .main .image_editor, .main .editor_line {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100; }
    .main .editor_text:hover, .main .image_editor:hover, .main .editor_line:hover {
      cursor: pointer; }
    .main .editor_text .editor, .main .image_editor .editor, .main .editor_line .editor {
      z-index: 110;
      width: 70%;
      height: 60vh;
      background: #f1f1f1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      .main .editor_text .editor .container, .main .image_editor .editor .container, .main .editor_line .editor .container {
        height: calc(100% - 42px); }
  .main .editor_line .editor {
    height: 50px;
    width: 60%; }
  .main .editor_line input {
    width: 100%;
    height: 50px;
    padding: 0 35px;
    font-size: 25px;
    border: none; }
    .main .editor_line input:active, .main .editor_line input:focus {
      outline: none; }
  .main .image_editor .editor {
    max-width: 40%;
    height: auto;
    max-height: 70vh;
    background: transparent; }
    .main .image_editor .editor .box__file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
  .main .image_editor .select-image {
    background: #f1f1f1; }
  .main .image_editor .editor, .main .flat_image_editor .editor {
    width: 100%;
    margin: 0 auto;
    height: auto; }
    .main .image_editor .editor.full, .main .flat_image_editor .editor.full {
      height: 100%; }
      .main .image_editor .editor.full .select-image, .main .flat_image_editor .editor.full .select-image {
        padding: 0; }
      .main .image_editor .editor.full .buttons, .main .flat_image_editor .editor.full .buttons {
        display: block; }
    .main .image_editor .editor .buttons, .main .flat_image_editor .editor .buttons {
      display: none;
      margin-top: 53px; }
      .main .image_editor .editor .buttons button:hover, .main .flat_image_editor .editor .buttons button:hover {
        color: #2196F3; }
    .main .image_editor .editor .container, .main .flat_image_editor .editor .container {
      width: 100%; }
  .main .image_editor .jcrop-keymgr, .main .flat_image_editor .jcrop-keymgr {
    opacity: 0; }
  .main .image_editor .jcrop-holder, .main .flat_image_editor .jcrop-holder {
    margin: 0 auto; }
  .main .image_editor .jcrop-tracker, .main .flat_image_editor .jcrop-tracker {
    margin: 0 auto; }
  .main .image_editor .select-image, .main .flat_image_editor .select-image {
    padding: 100px 20px; }
    .main .image_editor .select-image.has-advanced-upload, .main .flat_image_editor .select-image.has-advanced-upload {
      background-color: white;
      outline: 2px dashed black;
      outline-offset: -10px; }
      .main .image_editor .select-image.has-advanced-upload .box__dragndrop, .main .flat_image_editor .select-image.has-advanced-upload .box__dragndrop {
        display: inline; }
    .main .image_editor .select-image.invisible, .main .flat_image_editor .select-image.invisible {
      background: none;
      outline: none;
      outline-offset: initial; }
    .main .image_editor .select-image.is-dragover, .main .flat_image_editor .select-image.is-dragover {
      background: #2196F3; }
    .main .image_editor .select-image .box__file, .main .flat_image_editor .select-image .box__file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .main .image_editor .select-image .box__icon, .main .flat_image_editor .select-image .box__icon {
      width: 100%;
      margin-bottom: 15px; }
    .main .image_editor .select-image strong, .main .flat_image_editor .select-image strong {
      font-weight: bold; }
    .main .image_editor .select-image label, .main .flat_image_editor .select-image label {
      background: none;
      color: #000c0c;
      text-align: center;
      position: relative;
      display: block;
      top: 0;
      left: 0;
      margin: 0 auto; }
      .main .image_editor .select-image label:hover, .main .flat_image_editor .select-image label:hover {
        cursor: pointer; }
  .main section .background {
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.9); }
  .main .top {
    width: 100%;
    height: 50px;
    position: relative;
    background: none;
    box-shadow: none;
    box-sizing: border-box;
    background: #10446d;
    color: #f1f1f1;
    z-index: 120; }
    .main .top .edit_buttons button {
      float: right;
      margin-left: 0;
      margin-right: 10px;
      margin-top: 10px; }
    .main .top h1 {
      height: 50px;
      line-height: 50px;
      font-weight: 100;
      font-size: 30px;
      width: auto;
      margin-left: 25px;
      text-align: left;
      display: inline-block;
      float: left; }
    .main .top .basic {
      display: inline-block;
      float: right;
      width: auto;
      margin-right: 35px; }
    .main .top .select-box {
      margin-top: 10px; }
    .main .top .language {
      float: left;
      min-width: 150px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
  .main iframe {
    width: 100%;
    height: calc(100vh - 95px); }
  .main .stats {
    width: 100%;
    height: auto;
    background: #000c0c;
    margin-top: 35px;
    padding: 25px 0 !important;
    box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.3); }
    .main .stats.head {
      padding-top: 0; }
    .main .stats.no-margin {
      margin-top: 0; }
    .main .stats canvas {
      margin-bottom: 50px;
      height: 400px;
      width: 90%; }
    .main .stats h1 {
      padding-top: 0 !important; }
    .main .stats hr {
      width: 80%; }
    .main .stats .graph {
      width: 400px;
      display: inline-block; }
    .main .stats table {
      width: 90%;
      margin: auto;
      color: #f1f1f1; }
      .main .stats table tr {
        height: 35px; }
      .main .stats table td, .main .stats table th {
        width: 20%;
        text-align: center;
        font-weight: regular;
        border: 4px solid #f1f1f1; }
      .main .stats table th {
        border: none;
        text-align: left; }
      .main .stats table td.clean, .main .stats table th.clean {
        border: none; }
    .main .stats.agenda table tr, .main .stats.news table tr {
      padding: 10px 0;
      box-sizing: border-box; }
    .main .stats.agenda table td, .main .stats.agenda table th, .main .stats.news table td, .main .stats.news table th {
      width: auto;
      padding: 0 15px; }
    .main .stats.agenda table td, .main .stats.news table td {
      border: none;
      font-weight: 100; }
      .main .stats.agenda table td.align-left, .main .stats.news table td.align-left {
        text-align: left; }
      .main .stats.agenda table td button, .main .stats.news table td button {
        background: #2196F3;
        border: none;
        color: white;
        height: 30px;
        padding: 0 15px;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
        .main .stats.agenda table td button:hover, .main .stats.news table td button:hover {
          cursor: pointer;
          color: white;
          background: #10446d;
          transition: 0.3s;
          -webkit-transition: 0.3s; }
        .main .stats.agenda table td button:active, .main .stats.agenda table td button:focus, .main .stats.news table td button:active, .main .stats.news table td button:focus {
          outline: none; }
      .main .stats.agenda table td .delete, .main .stats.news table td .delete {
        background: #2196F3;
        color: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: relative; }
        .main .stats.agenda table td .delete:hover, .main .stats.news table td .delete:hover {
          cursor: pointer;
          color: white;
          background: #801010;
          transition: 0.3s;
          -webkit-transition: 0.3s; }
        .main .stats.agenda table td .delete::before, .main .stats.news table td .delete::before {
          content: "";
          font-family: "FontAwesome";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute; }
    .main .stats.agenda table th, .main .stats.news table th {
      border-bottom: 2px solid #f1f1f1;
      text-align: center; }
      .main .stats.agenda table th.clear, .main .stats.news table th.clear {
        border: none; }

.languages {
  width: 100%;
  max-width: 600px; }
  .languages .lang_container {
    width: 100%; }
    .languages .lang_container:not(:first-child) {
      margin-top: 15px; }
  .languages .language {
    background: white;
    color: #000c0c;
    padding: 8px 0px;
    border-radius: 50px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: relative; }
    .languages .language .remove {
      position: absolute;
      right: 15px;
      top: 55%;
      transform: translateY(-50%); }
      .languages .language .remove::before {
        content: "";
        font-family: FontAwesome;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
      .languages .language .remove:hover {
        cursor: pointer; }
        .languages .language .remove:hover::before {
          color: #801010;
          transition: 0.3s;
          -webkit-transition: 0.3s; }
  .languages form {
    margin: 0;
    margin-top: 35px;
    width: initial;
    display: none;
    text-align: center; }
    .languages form select {
      height: 35px;
      border: none; }
    .languages form input {
      height: 38px;
      width: 85%;
      padding: 0 5px;
      border: none; }
      .languages form input:focus {
        outline: none; }
    .languages form option {
      border: none; }
    .languages form input[type="submit"], .languages form input[type="button"] {
      width: auto;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background: #2196F3;
      border: 2px solid #2196F3;
      color: white;
      padding: 10px 25px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .languages form input[type="submit"]:hover, .languages form input[type="button"]:hover {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        background: none;
        color: #2196F3;
        cursor: pointer; }
      .languages form input[type="submit"]:active, .languages form input[type="submit"]:focus, .languages form input[type="button"]:active, .languages form input[type="button"]:focus {
        outline: none; }
    .languages form input[type="button"] {
      float: left; }
  .languages .new {
    width: 100%;
    height: 50px;
    position: relative;
    display: inline-block;
    background: #000c0c;
    margin-top: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s; }
    .languages .new:hover {
      cursor: pointer;
      background: #151e23; }
      .languages .new:hover::after {
        color: #2196F3;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
    .languages .new::after {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 40px;
      width: 40px;
      line-height: 40px;
      color: #f1f1f1;
      transform: translate(-50%, -50%);
      font-family: "FontAwesome";
      font-size: 35px;
      content: ""; }

#buystats {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-top: 35px; }

.input-group {
  position: relative;
  margin-top: 40px; }
  .input-group.right {
    text-align: right;
    margin-top: 15px; }

.multi-page {
  display: none; }

.order-list a, .transaction-list a {
  color: #f1f1f1;
  text-decoration: none; }
  .order-list a:last-child .order, .order-list a:last-child .transaction, .transaction-list a:last-child .order, .transaction-list a:last-child .transaction {
    border: none; }
.order-list .order, .order-list .transaction, .transaction-list .order, .transaction-list .transaction {
  padding: 15px 30px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1; }
  .order-list .order .id, .order-list .order .date, .order-list .order .amount, .order-list .transaction .id, .order-list .transaction .date, .order-list .transaction .amount, .transaction-list .order .id, .transaction-list .order .date, .transaction-list .order .amount, .transaction-list .transaction .id, .transaction-list .transaction .date, .transaction-list .transaction .amount {
    display: inline-block;
    margin-right: 10px; }
  .order-list .order .date, .order-list .order .amount, .order-list .transaction .date, .order-list .transaction .amount, .transaction-list .order .date, .transaction-list .order .amount, .transaction-list .transaction .date, .transaction-list .transaction .amount {
    font-weight: bold; }
  .order-list .order:hover, .order-list .transaction:hover, .transaction-list .order:hover, .transaction-list .transaction:hover {
    color: #2196F3; }
.order-list .more, .transaction-list .more {
  width: 100%;
  height: 50px;
  position: relative;
  display: inline-block;
  background: #000c0c;
  transition: 0.3s;
  -webkit-transition: 0.3s; }
  .order-list .more:hover, .transaction-list .more:hover {
    cursor: pointer;
    background: #151e23; }
    .order-list .more:hover::after, .transaction-list .more:hover::after {
      color: #2196F3;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
  .order-list .more::after, .transaction-list .more::after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #f1f1f1;
    transform: translate(-50%, -50%);
    font-family: "FontAwesome";
    font-size: 35px;
    content: ""; }

form.full {
  margin: 50px auto;
  width: 100%;
  max-width: 600px;
  text-align: left; }
  form.full input, form.full textarea {
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    height: 35px;
    background: #e6e6e6;
    border: none;
    border-bottom: 1px solid #ccc; }
    form.full input:active, form.full input:focus, form.full textarea:active, form.full textarea:focus {
      outline: none; }
    form.full input:focus, form.full textarea:focus {
      border-bottom-color: #2196F3; }
    form.full input[type="submit"], form.full input[type="button"], form.full textarea[type="submit"], form.full textarea[type="button"] {
      width: auto;
      display: inline-block;
      border: none;
      border-radius: 4px;
      background: #000c0c;
      border: 2px solid #000c0c;
      color: white;
      padding: 10px 8px;
      line-height: 0;
      font-size: 14px;
      font-weight: 600;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      form.full input[type="submit"]:hover, form.full input[type="button"]:hover, form.full textarea[type="submit"]:hover, form.full textarea[type="button"]:hover {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        background: none;
        color: #000c0c;
        cursor: pointer; }
      form.full input[type="submit"]:active, form.full input[type="submit"]:focus, form.full input[type="button"]:active, form.full input[type="button"]:focus, form.full textarea[type="submit"]:active, form.full textarea[type="submit"]:focus, form.full textarea[type="button"]:active, form.full textarea[type="button"]:focus {
        outline: none; }
  form.full textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 10px 8px;
    font: 400 13.3333px Arial;
    height: 300px;
    border-bottom: 1px solid #ccc; }
    form.full textarea.small {
      height: 100px; }
    form.full textarea:focus {
      border-bottom: 1px solid #2196F3; }
  form.full .select-box {
    margin-top: 0; }
  form.full #editor, form.full #update_editor {
    width: 100%;
    height: 500px;
    background: #e6e6e6;
    border: none;
    border-bottom: 1px solid #ccc; }
  form.full label {
    position: absolute;
    top: -22px;
    left: 0;
    padding: 3px 0;
    color: #000c0c;
    font-weight: bold; }
  form.full .attributes {
    padding: 10px 0; }
    form.full .attributes .attribute {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between; }
      form.full .attributes .attribute.template {
        display: none; }
      form.full .attributes .attribute input {
        flex: 0 0 46%; }
  form.full button {
    background: #000c0c;
    color: white;
    margin: 0 auto;
    display: block; }
    form.full button.delete {
      width: 34px;
      height: 34px;
      background: #801010;
      color: white;
      border-radius: 0;
      padding: 0;
      margin: 0;
      position: relative;
      border-color: #801010; }
      form.full button.delete:hover {
        background: none;
        color: #801010;
        border-color: #801010; }
      form.full button.delete::before {
        content: "";
        font-family: "FontAwesome";
        height: 100%;
        width: 100%;
        top: 0;
        line-height: 33px;
        left: 0;
        position: absolute; }
    form.full button:hover {
      color: #000c0c;
      background: none;
      border-color: #000c0c; }
  form.full .group {
    display: flex;
    flex-wrap: wrap; }
    form.full .group input {
      flex: 1; }

.settings section {
  width: 100%;
  margin: 0;
  padding: 35px 0;
  box-shadow: none; }
  .settings section.no-padding {
    padding: 0; }
  .settings section.hidden {
    display: none; }
  .settings section form {
    width: 350px;
    padding: 25px 0;
    margin: 0 auto; }
    .settings section form h1 {
      padding: 35px 0; }
  .settings section .break {
    height: 25px;
    width: 100%; }
  .settings section .input-group {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    display: inline-block; }
    .settings section .input-group.center {
      text-align: center; }
    .settings section .input-group.left {
      text-align: left; }
    .settings section .input-group.right {
      text-align: right; }
  .settings section input {
    border: none;
    height: 35px;
    width: 100%;
    padding: 0 15px; }
    .settings section input:after, .settings section input:focus {
      outline: none; }
    .settings section input[type="submit"] {
      border: none;
      width: auto;
      border-radius: 4px;
      background: #2196F3;
      border: 2px solid #2196F3;
      color: white;
      padding: 10px 25px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      margin: 0 0 0 auto; }
      .settings section input[type="submit"]:hover {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        background: none;
        color: #f1f1f1;
        cursor: pointer; }
      .settings section input[type="submit"]:active, .settings section input[type="submit"]:focus {
        outline: none; }
  .settings section label {
    width: 100%; }
  .settings section .me {
    font-size: 20px;
    padding: 35px 0; }
    .settings section .me .line {
      height: auto;
      display: inline-block;
      width: 40%; }
      .settings section .me .line label {
        height: auto;
        width: auto;
        display: inline-block;
        font-weight: bold; }
  .settings section .user {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #000c0c;
    display: flex;
    font-size: 18px; }
    .settings section .user div {
      flex: 3;
      display: inline-block;
      line-height: 80px; }
      .settings section .user div.id, .settings section .user div.delete {
        flex: 1; }
    .settings section .user button {
      height: 50px;
      width: 50px;
      border: none;
      background: #2196F3;
      display: block;
      margin: 0 auto;
      margin-top: 15px;
      position: relative; }
      .settings section .user button:hover {
        cursor: pointer;
        background: #801010;
        transition: 0.3s;
        -webkit-transition: 0.3s; }
      .settings section .user button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        line-height: 50px;
        font-family: FontAwesome;
        font-size: 23px;
        color: white; }

.list {
  width: 100%;
  height: auto;
  display: inline-block; }
  .list .add {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center; }
    .list .add::after {
      content: "";
      font-family: "FontAwesome"; }

input[type="checkbox"].switcher:checked + .slider {
  background-color: green; }
input[type="checkbox"].switcher:focus + .slider {
  box-shadow: 0 0 1px green; }
input[type="checkbox"].switcher:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

@media only screen and (max-width: 1300px) {
  .main.dashboard {
    width: calc(100% - 180px); }
    .main.dashboard .thankyou {
      text-align: center; } }
@media all and (max-width: 993px) {
  .main .editor_text .editor .container {
    height: calc(100% - 65px); } }
@media only screen and (max-width: 760px) {
  .main {
    width: 100%;
    margin-left: 0; }
    .main.container {
      width: 100%; }
    .main.dashboard, .main.settings {
      width: 100%; }
    .main .top h1 {
      margin-left: 15px;
      font-size: 30px; }
    .main .editor_line .editor {
      width: 90%; }
      .main .editor_line .editor input {
        padding: 0 15px; }

  .top .listbutton {
    display: block; }
  .top button {
    margin-left: 35px;
    margin-right: 10px;
    padding: 0 7px;
    float: right; }
  .top .account {
    display: none; }

  .left {
    transform: translate(-220px); }
    .left .bottom .logout {
      display: block; }
    .left img {
      display: none; } }
@media only screen and (max-width: 560px) {
  .main h1 {
    text-align: center; }
  .main.dashboard h1 {
    font-size: 50px;
    padding: 10px 0;
    text-align: left; }
  .main.dashboard section {
    width: 100%;
    margin: 15px 0; }
  .main.dashboard .hub h1, .main.dashboard section h1, .main.dashboard .stats h1 {
    text-align: center; }
  .main .top .basic {
    margin-right: 25px; }

  form {
    width: 100%; } }
@media all and (max-width: 431px) {
  .main .editor_text .editor .container {
    height: calc(100% - 89px); } }

/*# sourceMappingURL=main.css.map */
