@charset "UTF-8";
/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf);
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 4, ../sass/base/_base.sass */
body {
  background: #f1f1f1;
  text-align: center;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  overflow-x: none;
}

/* line 9, ../sass/base/_base.sass */
hr {
  margin: 0;
}

/* line 11, ../sass/base/_base.sass */
.spinner {
  font-size: 10px;
  margin: 100px auto;
  text-indent: -9999em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000c0c;
  background: -moz-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #000c0c 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  -moz-animation: load3 1.4s infinite linear;
  -o-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 29, ../sass/base/_base.sass */
.spinner:before {
  width: 50%;
  height: 50%;
  background: #000c0c;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
/* line 38, ../sass/base/_base.sass */
.spinner:after {
  background: #f1f1f1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 50, ../sass/base/_base.sass */
.top {
  width: 100%;
  height: 45px;
  background: #000c0c;
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
/* line 59, ../sass/base/_base.sass */
.top .listbutton {
  float: left;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin-top: 7.5px;
  display: none;
  color: #f1f1f1;
  position: relative;
  margin-left: 15px;
}
/* line 69, ../sass/base/_base.sass */
.top .listbutton:hover {
  cursor: pointer;
}
/* line 71, ../sass/base/_base.sass */
.top .listbutton:hover::before {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #2196F3;
}
/* line 74, ../sass/base/_base.sass */
.top .listbutton::before {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  position: absolute;
  left: 0;
  color: #f1f1f1;
  content: "";
  font-family: "FontAwesome";
  font-size: 25px;
}
/* line 83, ../sass/base/_base.sass */
.top .account {
  width: auto;
  min-width: 250px;
  float: right;
  height: 45px;
  color: #f1f1f1;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 91, ../sass/base/_base.sass */
.top .account:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  cursor: pointer;
  color: #2196F3;
  background: #151e23;
}
/* line 96, ../sass/base/_base.sass */
.top .account:hover menu::before {
  color: #2196F3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 99, ../sass/base/_base.sass */
.top .account:hover menu li {
  display: block;
}
/* line 101, ../sass/base/_base.sass */
.top .account .name {
  line-height: 45px;
  margin-right: 40px;
  margin-left: 40px;
  position: relative;
}
/* line 106, ../sass/base/_base.sass */
.top .account menu {
  width: 100%;
  display: inline-block;
}
/* line 109, ../sass/base/_base.sass */
.top .account menu:hover {
  cursor: pointer;
}
/* line 111, ../sass/base/_base.sass */
.top .account menu::before {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  height: 45px;
  line-height: 40px;
  top: 0;
  color: #f1f1f1;
  position: absolute;
  right: 20px;
  z-index: 20;
  content: "";
  font-family: "FontAwesome";
  font-size: 20px;
}
/* line 124, ../sass/base/_base.sass */
.top .account menu a {
  text-decoration: none;
}
/* line 126, ../sass/base/_base.sass */
.top .account menu li {
  list-style: none;
  display: none;
  background: #000c0c;
  color: #f1f1f1;
  text-decoration: none;
  height: 35px;
  padding: 0 40px;
  line-height: 35px;
  position: relative;
  text-align: center;
}
/* line 137, ../sass/base/_base.sass */
.top .account menu li i {
  float: left;
  line-height: 38px;
  position: absolute;
  left: 35px;
}
/* line 142, ../sass/base/_base.sass */
.top .account menu li:hover {
  color: #2196F3;
}
/* line 144, ../sass/base/_base.sass */
.top button {
  border: 2px solid #f1f1f1;
  background: #f1f1f1;
  color: #000c0c;
  height: 30px;
  padding: 0 15px;
  margin-top: 7.5px;
  float: left;
  margin-left: 200px;
  font-size: 15px;
  font-weight: 900;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  border-radius: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 159, ../sass/base/_base.sass */
.top button:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  background: none;
  color: #f1f1f1;
  cursor: pointer;
}
/* line 164, ../sass/base/_base.sass */
.top button:active, .top button:focus {
  outline: none;
}

/* line 166, ../sass/base/_base.sass */
.select-box {
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 1em;
  margin-top: 0.3em;
  background: #f1f1f1;
}
/* line 175, ../sass/base/_base.sass */
.select-box.dark select {
  background-color: #000c0c;
  color: #f1f1f1;
}
/* line 178, ../sass/base/_base.sass */
.select-box select {
  max-width: 100%;
  background-color: #f1f1f1;
  color: #000c0c;
  font-size: inherit;
  padding: 0.33em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: "";
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
/* line 192, ../sass/base/_base.sass */
.select-box select::-ms-expand {
  display: none;
}
/* line 194, ../sass/base/_base.sass */
.select-box select:active, .select-box select:focus {
  outline: none;
}
/* line 196, ../sass/base/_base.sass */
.select-box::before {
  content: "";
  position: absolute;
  pointer-events: none;
}
/* line 200, ../sass/base/_base.sass */
.select-box::after {
  content: "";
  position: absolute;
  pointer-events: none;
  content: "▼";
  color: #2196F3;
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}
/* line 212, ../sass/base/_base.sass */
.select-box::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000c0c;
}
/* line 218, ../sass/base/_base.sass */
.select-box select[disabled] {
  color: rgba(0, 0, 0, 0.25);
}

/* line 220, ../sass/base/_base.sass */
.left {
  position: fixed;
  height: 100vh;
  width: 180px;
  background: #000c0c;
  box-shadow: 0px 0px 22px -5px black;
  z-index: 130;
  top: 0;
  left: 0;
}
/* line 229, ../sass/base/_base.sass */
.left.active {
  transform: translateX(0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 232, ../sass/base/_base.sass */
.left img {
  width: 100px;
  margin-top: 35px;
}
/* line 235, ../sass/base/_base.sass */
.left ul {
  margin-top: 35px;
  color: #f1f1f1;
  text-align: left;
  list-style: none;
}
/* line 240, ../sass/base/_base.sass */
.left a {
  color: #f1f1f1;
  text-decoration: none;
}
/* line 244, ../sass/base/_base.sass */
.left a.active li, .left a:hover li {
  cursor: pointer;
  background: #151e23;
  color: #2196F3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 249, ../sass/base/_base.sass */
.left li {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 259, ../sass/base/_base.sass */
.left li:hover, .left li.active {
  cursor: pointer;
  background: #151e23;
  color: #2196F3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 264, ../sass/base/_base.sass */
.left li i {
  padding-right: 10px;
  margin-left: 10px;
}
/* line 267, ../sass/base/_base.sass */
.left .bottom {
  width: 180px;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #f1f1f1;
  line-height: 35px;
}
/* line 275, ../sass/base/_base.sass */
.left .bottom .settings, .left .bottom .logout {
  color: #f1f1f1;
  font-size: 20px;
  float: right;
  display: inline-block;
  line-height: 30px;
  margin-right: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 283, ../sass/base/_base.sass */
.left .bottom .settings i, .left .bottom .logout i {
  font-size: 30px;
  padding-left: 10px;
}
/* line 286, ../sass/base/_base.sass */
.left .bottom .settings:hover, .left .bottom .logout:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  color: #2196F3;
}
/* line 289, ../sass/base/_base.sass */
.left .bottom .logout {
  float: left;
  display: none;
}

/* line 292, ../sass/base/_base.sass */
em, i, cite {
  font-style: italic;
}

/* line 294, ../sass/base/_base.sass */
strong, b {
  font-weight: 900;
}

/* line 296, ../sass/base/_base.sass */
.relative {
  position: relative;
}

/* line 298, ../sass/base/_base.sass */
.switch {
  position: relative;
  display: inline-block;
  width: 60px !important;
  height: 34px !important;
}
/* line 303, ../sass/base/_base.sass */
.switch input[type="checkbox"].switcher {
  display: none;
}

/* line 305, ../sass/base/_base.sass */
.tabs {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #000c0c;
  color: white;
}
/* line 312, ../sass/base/_base.sass */
.tabs.center .tab {
  float: none;
  display: inline-block;
}
/* line 315, ../sass/base/_base.sass */
.tabs .tab {
  width: auto;
  padding: 15px 25px;
  float: left;
  font-weight: 500;
  font-size: 20px;
  user-select: none;
  box-sizing: border-box;
}
/* line 323, ../sass/base/_base.sass */
.tabs .tab.active {
  background: #151e23;
  color: #2196F3;
  border-top: 2px solid #2196F3;
  padding-top: 13px;
}
/* line 328, ../sass/base/_base.sass */
.tabs .tab:hover, .tabs .tab:active {
  cursor: pointer;
  background: #151e23;
  color: #2196F3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

/* line 333, ../sass/base/_base.sass */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
/* line 344, ../sass/base/_base.sass */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

/* line 357, ../sass/base/_base.sass */
input[type="checkbox"].switcher:checked + .slider {
  background-color: green;
}
/* line 359, ../sass/base/_base.sass */
input[type="checkbox"].switcher:focus + .slider {
  box-shadow: 0 0 1px green;
}
/* line 361, ../sass/base/_base.sass */
input[type="checkbox"].switcher:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media only screen and (max-width: 760px) {
  /* line 366, ../sass/base/_base.sass */
  .left {
    box-shadow: none;
  }
  /* line 368, ../sass/base/_base.sass */
  .left ul {
    margin-top: 45px;
  }
}
/* line 2, ../sass/shop.sass */
.bank-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 210px;
  width: 520px;
  margin: 0 auto;
}
/* line 9, ../sass/shop.sass */
.bank-options .bank-option {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: flex;
  background: white;
  position: relative;
}
/* line 16, ../sass/shop.sass */
.bank-options .bank-option:hover {
  cursor: pointer;
}
/* line 18, ../sass/shop.sass */
.bank-options .bank-option.selected, .bank-options .bank-option:focus {
  outline: 2px solid #2196F3;
}
/* line 20, ../sass/shop.sass */
.bank-options .bank-option.selected::after, .bank-options .bank-option:focus::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2196F3;
  z-index: 100;
}
/* line 33, ../sass/shop.sass */
.bank-options .bank-option img {
  justify-content: center;
  align-self: center;
  width: 90%;
  margin-left: 5%;
  height: auto;
}

/* line 39, ../sass/shop.sass */
.shoppingcart {
  width: 600px !important;
}
/* line 41, ../sass/shop.sass */
.shoppingcart input {
  height: 30px;
  border: none;
  font-size: 1.2em;
}
/* line 45, ../sass/shop.sass */
.shoppingcart input:focus {
  outline: none;
}
/* line 47, ../sass/shop.sass */
.shoppingcart input[type="text"] {
  width: 50px;
  text-align: center;
}
/* line 50, ../sass/shop.sass */
.shoppingcart input[type="button"] {
  border: none;
  background: #000c0c;
  width: 30px;
  color: #f1f1f1;
}
/* line 55, ../sass/shop.sass */
.shoppingcart input[type="button"]:hover {
  cursor: pointer;
}
/* line 57, ../sass/shop.sass */
.shoppingcart .delete {
  background: #2196F3;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
}
/* line 65, ../sass/shop.sass */
.shoppingcart .delete:hover {
  cursor: pointer;
  color: white;
  background: #801010;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 70, ../sass/shop.sass */
.shoppingcart .delete::before {
  content: "";
  font-family: "FontAwesome";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
/* line 79, ../sass/shop.sass */
.shoppingcart img {
  height: 75px;
  width: 75px;
}
/* line 82, ../sass/shop.sass */
.shoppingcart table {
  margin: 35px auto;
}
/* line 84, ../sass/shop.sass */
.shoppingcart table th, .shoppingcart table td, .shoppingcart table tr {
  border: none;
}
/* line 86, ../sass/shop.sass */
.shoppingcart table th, .shoppingcart table td {
  padding: 5px 0;
  padding-right: 35px;
  height: 75px;
}

/* line 91, ../sass/shop.sass */
.order input, .order textarea, .order .input {
  border: none;
  border-bottom: 2px solid #000c0c;
  background: none;
  height: 35px;
  width: 100%;
  font-size: 1em;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #000c0c;
}
/* line 101, ../sass/shop.sass */
.order input:focus, .order input:active, .order textarea:focus, .order textarea:active, .order .input:focus, .order .input:active {
  outline: none;
}
/* line 103, ../sass/shop.sass */
.order input:focus + label:not(.normal), .order input.has-value + label:not(.normal), .order textarea:focus + label:not(.normal), .order textarea.has-value + label:not(.normal), .order .input:focus + label:not(.normal), .order .input.has-value + label:not(.normal) {
  top: -10px;
  color: #2196F3;
  font-size: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 108, ../sass/shop.sass */
.order input:focus + label:not(.normal) + .requirements, .order input.has-value + label:not(.normal) + .requirements, .order textarea:focus + label:not(.normal) + .requirements, .order textarea.has-value + label:not(.normal) + .requirements, .order .input:focus + label:not(.normal) + .requirements, .order .input.has-value + label:not(.normal) + .requirements {
  display: flex;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 111, ../sass/shop.sass */
.order input.hidden, .order textarea.hidden, .order .input.hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  top: 0;
}
/* line 118, ../sass/shop.sass */
.order input[type="checkbox"], .order textarea[type="checkbox"], .order .input[type="checkbox"] {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 100px;
}
/* line 123, ../sass/shop.sass */
.order input.search, .order textarea.search, .order .input.search {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 129, ../sass/shop.sass */
.order input[type="range"], .order textarea[type="range"], .order .input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  border: none;
  background: transparent;
}
/* line 135, ../sass/shop.sass */
.order input[type="range"]::-webkit-slider-thumb, .order textarea[type="range"]::-webkit-slider-thumb, .order .input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000c0c;
}
/* line 138, ../sass/shop.sass */
.order input[type="range"]:focus, .order textarea[type="range"]:focus, .order .input[type="range"]:focus {
  outline: none;
}
/* line 140, ../sass/shop.sass */
.order input[type="range"]::-ms-track, .order textarea[type="range"]::-ms-track, .order .input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: #000c0c;
  border-color: transparent;
  color: transparent;
}
/* line 146, ../sass/shop.sass */
.order input[type="range"]::-webkit-slider-runnable-track, .order textarea[type="range"]::-webkit-slider-runnable-track, .order .input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #000c0c;
  border-radius: 2px;
}
/* line 152, ../sass/shop.sass */
.order input[type="range"]:focus::-webkit-slider-runnable-track, .order textarea[type="range"]:focus::-webkit-slider-runnable-track, .order .input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #000c0c;
}
/* line 154, ../sass/shop.sass */
.order input[type="range"]::-moz-range-track, .order textarea[type="range"]::-moz-range-track, .order .input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #000c0c;
  border-radius: 2px;
}
/* line 160, ../sass/shop.sass */
.order input[type="range"]::-ms-track, .order textarea[type="range"]::-ms-track, .order .input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
/* line 168, ../sass/shop.sass */
.order input[type="range"]::-ms-fill-lower, .order textarea[type="range"]::-ms-fill-lower, .order .input[type="range"]::-ms-fill-lower {
  background: #000c0c;
  border-radius: 2px;
}
/* line 171, ../sass/shop.sass */
.order input[type="range"]:focus::-ms-fill-lower, .order textarea[type="range"]:focus::-ms-fill-lower, .order .input[type="range"]:focus::-ms-fill-lower {
  background: #000c0c;
}
/* line 173, ../sass/shop.sass */
.order input[type="range"]::-ms-fill-upper, .order textarea[type="range"]::-ms-fill-upper, .order .input[type="range"]::-ms-fill-upper {
  background: #000c0c;
  border-radius: 4px;
}
/* line 176, ../sass/shop.sass */
.order input[type="range"]:focus::-ms-fill-upper, .order textarea[type="range"]:focus::-ms-fill-upper, .order .input[type="range"]:focus::-ms-fill-upper {
  background: #000c0c;
}
/* line 178, ../sass/shop.sass */
.order input[type="range"]::-webkit-slider-thumb, .order textarea[type="range"]::-webkit-slider-thumb, .order .input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #10446d;
  cursor: pointer;
  margin-top: -9px;
  box-shadow: none;
}
/* line 187, ../sass/shop.sass */
.order input[type="range"]::-moz-range-thumb, .order input[type="range"]::-ms-thumb, .order textarea[type="range"]::-moz-range-thumb, .order textarea[type="range"]::-ms-thumb, .order .input[type="range"]::-moz-range-thumb, .order .input[type="range"]::-ms-thumb {
  box-shadow: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #10446d;
  cursor: pointer;
}
/* line 194, ../sass/shop.sass */
.order input[type="submit"], .order textarea[type="submit"], .order .input[type="submit"] {
  border: none;
  color: #f1f1f1;
  background: #2196F3;
  border: 2px solid #2196F3;
  width: auto;
  padding: 10px 25px;
  font-size: 13px;
  line-height: 1;
  height: auto;
  font-family: Montserrat;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  box-shadow: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 210, ../sass/shop.sass */
.order input[type="submit"].round, .order textarea[type="submit"].round, .order .input[type="submit"].round {
  border-radius: 50%;
}
/* line 212, ../sass/shop.sass */
.order input[type="submit"]:hover, .order textarea[type="submit"]:hover, .order .input[type="submit"]:hover {
  cursor: pointer;
  color: #000c0c;
  background: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 217, ../sass/shop.sass */
.order input[type="checkbox"], .order textarea[type="checkbox"], .order .input[type="checkbox"] {
  -webkit-appearance: none;
  background: none;
  border: 1px solid #000c0c !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
/* line 226, ../sass/shop.sass */
.order input[type="checkbox"]:active, .order textarea[type="checkbox"]:active, .order .input[type="checkbox"]:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 228, ../sass/shop.sass */
.order input[type="checkbox"]:checked, .order textarea[type="checkbox"]:checked, .order .input[type="checkbox"]:checked {
  background-color: none;
  border: 1px solid #000c0c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #000c0c;
}
/* line 229, ../sass/shop.sass */
.order input[type="checkbox"]:checked:active, .order textarea[type="checkbox"]:checked:active, .order .input[type="checkbox"]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 235, ../sass/shop.sass */
.order input[type="checkbox"]:checked:after, .order textarea[type="checkbox"]:checked:after, .order .input[type="checkbox"]:checked:after {
  content: "✔";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #000c0c;
}
/* line 243, ../sass/shop.sass */
.order .input-container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 248, ../sass/shop.sass */
.order form {
  width: 100%;
  padding: 35px 0;
}
/* line 251, ../sass/shop.sass */
.order form.hidden {
  display: none;
}
/* line 253, ../sass/shop.sass */
.order form.high {
  padding: 100px 0;
}
/* line 255, ../sass/shop.sass */
.order form.nothing {
  padding: 0;
  margin: 0;
}
/* line 258, ../sass/shop.sass */
.order form .msg {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #000c0c;
}
/* line 265, ../sass/shop.sass */
.order form h1, .order form h2 {
  margin-bottom: 0;
}
/* line 267, ../sass/shop.sass */
.order form .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
/* line 273, ../sass/shop.sass */
.order form .select {
  list-style: none;
  padding: 0;
}
/* line 276, ../sass/shop.sass */
.order form .box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* line 283, ../sass/shop.sass */
.order form .banner-image {
  width: 444px;
  height: 250px;
  background: #f1f1f1;
}
/* line 287, ../sass/shop.sass */
.order form .banner-image:hover {
  cursor: pointer;
}
/* line 289, ../sass/shop.sass */
.order form .banner-image img {
  width: 100%;
}
/* line 291, ../sass/shop.sass */
.order form .select-box {
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 1em;
  margin-top: 0.3em;
  background: #000c0c;
}
/* line 299, ../sass/shop.sass */
.order form .select-box select {
  max-width: 100%;
  background-color: #000c0c;
  color: #f1f1f1;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
/* line 314, ../sass/shop.sass */
.order form .select-box select::-ms-expand {
  display: none;
}
/* line 316, ../sass/shop.sass */
.order form .select-box select:active, .order form .select-box select:focus {
  outline: none;
}
/* line 318, ../sass/shop.sass */
.order form .select-box::before {
  content: "";
  position: absolute;
  pointer-events: none;
}
/* line 322, ../sass/shop.sass */
.order form .select-box::after {
  content: "";
  position: absolute;
  pointer-events: none;
  content: "▼";
  color: #f1f1f1;
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}
/* line 334, ../sass/shop.sass */
.order form .select-box::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: #10446d;
}
/* line 341, ../sass/shop.sass */
.order form .select-box select[disabled] {
  color: rgba(0, 0, 0, 0.25);
}
/* line 343, ../sass/shop.sass */
.order form textarea {
  min-height: 250px;
  height: auto;
  display: inline-block;
  padding: 10px 0;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
}
/* line 351, ../sass/shop.sass */
.order form .input-group {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 18px;
  display: inline-block;
  user-select: none;
}
/* line 358, ../sass/shop.sass */
.order form .input-group.no {
  margin-top: 0;
}
/* line 360, ../sass/shop.sass */
.order form .input-group.more {
  margin-top: 50px;
}
/* line 362, ../sass/shop.sass */
.order form .input-group.eighty {
  width: 80%;
}
/* line 364, ../sass/shop.sass */
.order form .input-group.ninety {
  width: 90%;
}
/* line 366, ../sass/shop.sass */
.order form .input-group.sixty {
  width: 60%;
}
/* line 368, ../sass/shop.sass */
.order form .input-group.half {
  width: 50%;
}
/* line 370, ../sass/shop.sass */
.order form .input-group.fourty {
  width: 40%;
}
/* line 372, ../sass/shop.sass */
.order form .input-group.third {
  width: 33%;
}
/* line 374, ../sass/shop.sass */
.order form .input-group.fourth {
  width: 25%;
}
/* line 376, ../sass/shop.sass */
.order form .input-group.fifth {
  width: 20%;
}
/* line 378, ../sass/shop.sass */
.order form .input-group.tenth {
  width: 10%;
}
/* line 380, ../sass/shop.sass */
.order form .input-group.eighty, .order form .input-group.half, .order form .input-group.third, .order form .input-group.fourth, .order form .input-group.fifth, .order form .input-group.tenth, .order form .input-group.ninety, .order form .input-group.sixty, .order form .input-group.fourty {
  float: left;
}
/* line 382, ../sass/shop.sass */
.order form .input-group.right {
  text-align: right;
}
/* line 384, ../sass/shop.sass */
.order form .input-group.center {
  text-align: center;
}
/* line 386, ../sass/shop.sass */
.order form .input-group.left {
  text-align: left;
}
/* line 388, ../sass/shop.sass */
.order form .input-group p {
  text-align: left;
  font-size: 12px;
}
/* line 391, ../sass/shop.sass */
.order form .input-group p.first-time {
  padding-left: 130px;
}
/* line 393, ../sass/shop.sass */
.order form .input-group p.no-padding {
  padding-left: 0;
}
/* line 395, ../sass/shop.sass */
.order form .input-group .text {
  text-align: left;
  font-size: 1em;
}
/* line 398, ../sass/shop.sass */
.order form .input-group h1 {
  text-align: left;
  font-size: 1em !important;
  font-weight: bold;
}
/* line 403, ../sass/shop.sass */
.order form .input-group .suggestions {
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  position: absolute;
}
/* line 409, ../sass/shop.sass */
.order form .input-group .suggestions .suggestion {
  width: 100%;
  height: auto;
  line-height: 35px;
}
/* line 414, ../sass/shop.sass */
.order form label {
  position: absolute;
  left: 0;
  top: 8px;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000c0c;
  pointer-events: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 424, ../sass/shop.sass */
.order form label.picture {
  pointer-events: all;
  position: static;
  float: none;
  border: none;
  color: #f1f1f1;
  background: #000c0c;
  border: 2px solid #000c0c;
  margin-top: 25px;
  font-size: 15px !important;
  font-weight: bold;
  padding: 0 25px;
  height: 35px;
  box-sizing: border-box;
  color: #f1f1f1;
  line-height: 31px;
  font-family: Montserrat;
  border-radius: 4px;
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 444, ../sass/shop.sass */
.order form label.picture:hover {
  cursor: pointer;
  color: #000c0c;
  background: none;
}
/* line 448, ../sass/shop.sass */
.order form label.normal {
  pointer-events: all;
  font-style: normal;
  margin-top: -15px;
  padding-left: 35px;
  float: left;
  text-align: left;
  color: #000c0c;
  font-weight: normal;
}
/* line 457, ../sass/shop.sass */
.order form label.normal.gray {
  color: #f1f1f1;
}
/* line 459, ../sass/shop.sass */
.order form label.remember {
  pointer-events: all;
  font-style: normal;
  margin-top: -10px;
  width: 100%;
  display: inline-block;
  right: 0;
  float: right;
  text-align: right;
  color: #000c0c;
  font-family: Montserrat, "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
}
/* line 470, ../sass/shop.sass */
.order form label.remember:hover {
  cursor: pointer;
}

/* line 472, ../sass/shop.sass */
.image_editor {
  position: fixed !important;
  width: calc(100% - 180px) !important;
  margin: 0 !important;
  left: 180px !important;
  background: none !important;
}

/* line 478, ../sass/shop.sass */
.image-selector {
  height: 100px;
  margin-top: 15px;
}
/* line 481, ../sass/shop.sass */
.image-selector span {
  display: inline-block;
  position: relative;
}
/* line 484, ../sass/shop.sass */
.image-selector .add, .image-selector img {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #000c0c;
  position: relative;
}
/* line 491, ../sass/shop.sass */
.image-selector .add:hover {
  cursor: pointer;
}
/* line 493, ../sass/shop.sass */
.image-selector .add:hover::before {
  font-size: 45px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 496, ../sass/shop.sass */
.image-selector .add::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #2196F3;
  font-family: FontAwesome;
  font-size: 35px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 508, ../sass/shop.sass */
.image-selector .delete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 30px;
  height: 30px;
  background: #2196F3;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 517, ../sass/shop.sass */
.image-selector .delete:hover {
  cursor: pointer;
  background: #801010;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
/* line 521, ../sass/shop.sass */
.image-selector .delete::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  line-height: 30px;
  color: #f1f1f1;
  text-align: center;
  width: 100%;
  font-family: FontAwesome;
}

/* line 532, ../sass/shop.sass */
table.bill {
  margin: 35px 0 35px;
}
/* line 534, ../sass/shop.sass */
table.bill.center {
  margin: 35px auto;
}
/* line 536, ../sass/shop.sass */
table.bill.right {
  margin-right: 0;
  margin-left: auto;
}
/* line 539, ../sass/shop.sass */
table.bill.big {
  font-size: 1.3em;
}
/* line 541, ../sass/shop.sass */
table.bill th, table.bill td, table.bill tr {
  border: none;
  height: auto;
}
/* line 544, ../sass/shop.sass */
table.bill th, table.bill td {
  padding: 10px 0;
  padding-right: 35px;
}
/* line 547, ../sass/shop.sass */
table.bill th img, table.bill td img {
  height: 75px;
}
/* line 549, ../sass/shop.sass */
table.bill th {
  font-size: 1.2em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  /* line 553, ../sass/shop.sass */
  .shoppingcart {
    width: 100% !important;
  }
  /* line 556, ../sass/shop.sass */
  .shoppingcart table td, .shoppingcart table th {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 25px;
    height: auto;
    width: 33%;
  }
}
@media only screen and (max-width: 550px) {
  /* line 563, ../sass/shop.sass */
  .bank-options {
    height: 500px;
    width: 310px;
  }
}
