@import "base/_base"

.error
  color: white
  width: 100%
  margin-top: 110px

form
  position: absolute
  width: 320px
  height: 450px
  background: $main
  transform: translate(-50%,-50%)
  left: 50%
  top: 50%
  display: inline-block
  box-shadow: 0px 0px 42px -8px rgb(0,0,0)
  &.reset
    height: 350px
  .remember
    width: 125px
    height: 20px
    line-height: 20px
    float: left
    margin-left: 35px
  img
    max-width: 100px
    height: 100px
    margin: 15px
  input
    width: 250px
    height: 35px
    margin-top: 4px
    border: none
    background: $base
    box-sizing: border-box
    padding: 0 8px
    &:focus, &:active
      outline: none
    &[type="checkbox"]
      height: 20px
      width: 50px
      margin-left: 15px
    &[type="submit"]
      width: 125px
      height: 35px
      color: $main
      font:
        size: 18px
        weight: bold
        family: $font
      border-radius: 50px
      float: right
      margin-right: 35px
      margin-top: 25px
      line-height: 25px
      border: 2px solid $base
      &:hover
        +transition($s)
        cursor: pointer
        background: none
        color: $base
  a
    margin-top: 25px
    float: right
    margin-right: 35px
    color: $base
    &.float_left
      margin: 0
      float: left
      margin-left: 34px
      margin-top: 25px
    &:hover
      font-weight: 700
  .input-group:not(:first-child)
    margin-top: 15px
  label
    width: 250px
    display: block
    text-align: left
    margin: 3px auto
    color: $base
  h1
    font: 
      family: $font
      size: 65px
      weight: 100
    position: absolute
    color: $main
    top: -70px
  button,.button
    border: none
    box-sizing: border-box
    padding: 0 8px
    width: 100px
    height: 35px
    background: $base
    color: $main
    font:
      size: 18px
      weight: bold
      family: $font
    border-radius: 50px
    float: right
    margin-top: 25px
    line-height: 30px
    text-decoration: none
    border: 2px solid $base
    &:hover
      +transition($s)
      cursor: pointer
      background: none
      color: $base